@font-face {
  font-family: 'Arsenal';
  src: local("../fonts/Arsenal-Regular"), url("../fonts/arsenal-regular.woff2") format("woff2"), url("../fonts/arsenal-regular.woff") format("woff"), url("../fonts/arsenal-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arsenal';
  src: local("../fonts/Arsenal-Italic"), url("../fonts/arsenal-italic.woff2") format("woff2"), url("../fonts/arsenal-italic.woff") format("woff"), url("../fonts/arsenal-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Arsenal';
  src: local("../fonts/Arsenal-Bold"), url("../fonts/arsenal-bold.woff2") format("woff2"), url("../fonts/arsenal-bold.woff") format("woff"), url("../fonts/arsenal-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arsenal';
  src: local("../fonts/Arsenal-BoldItalic"), url("../fonts/arsenal-bolditalic.woff2") format("woff2"), url("../fonts/arsenal-bolditalic.woff") format("woff"), url("../fonts/arsenal-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: Arsenal, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #fe4844;
}

img {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.red_text {
  color: #fe4844;
}

header,
footer {
  min-height: 100px;
  width: 100%;
  color: #ffffff;
}

header {
  min-height: 187px;
  border-top: 1px solid transparent;
}

.header_top {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #4e4646;
  opacity: 0.9;
  z-index: 2;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.header__row .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row_first {
  min-height: 129px;
}

.header__row_second {
  min-height: 57px;
}

.header__menu {
  border-top: 1px solid #7d7879;
}
.header__menu li {
  list-style-type: none;
}
.header__menu li a {
  text-transform: uppercase;
}

.slider__item {
  position: relative;
  z-index: 1;
}

.header__slider {
  margin-top: 50px;
}
.header__slider .item__text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 694px;
  width: 100%;
  max-height: 266px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  main .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */