@font-face {
    font-family: 'MyriadPro';
    src: local('../fonts/MyriadPro-Regular'), url('../fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: local('../fonts/MyriadPro-Bold'), url('../fonts/MyriadPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProCond';
    src: local('../fonts/MyriadPro-Cond'), url('../fonts/MyriadPro-Cond.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProCond';
    src: local('../fonts/MyriadPro-BoldCond'), url('../fonts/MyriadPro-BoldCond.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}