// reset
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #fe4844;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

.red_text {
  color: #fe4844;
}

button,
.button {
  background-color: #b6211e;
  width: 289px;
  height: 58px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #ffffff;
    color: #413939;
  }
}
.header__button_cal {
  background-color: #676263;
  width: 189px;
  height: 31px;
}
.header__button_cal:hover {
  background-color: #b6211e;
  color: #ffffff;
}

// main
header,
footer {
  min-height: 100px;
  width: 100%;
  color: #ffffff;
}

header {
  min-height: 187px;
}

.header_top {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #4e4646;
  opacity: 0.9;
  z-index: 2;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main .content {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: stretch;
}

.header__row {
  .content {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    align-items: center;
  }
  .header__row_first {
    min-height: 129px;
  }
  .header__row_second {
    min-height: 57px;
    justify-content: space-around;
  }
  button {
    margin: unset;
  }
}

.header__menu {
  border-top: 1px solid #7d7879;
  li {
    list-style-type: none;
    a {
      text-transform: uppercase;
    }
  }
}

header .slider__item {
  position: relative;
  z-index: 1;
}

.header__slider {
  max-height: 651px;
  overflow: hidden;
  .item__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 694px;
    width: 100%;
    max-height: 266px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

.article .content {
  display: flex;
  flex-direction: column;
}


//article

.article {
  color: #666;
  padding: 65px 0 33px 0;
}

.article__text {
  max-height: 101px;
  border-left: 2px solid #b3b3b3;
  overflow-y: visible;
}
.article__header {
  font-size: 54px;
  padding-left: 25px;
  padding-bottom: 25px;
  font-weight: 300px;
  text-transform: uppercase;
}

.article__description {
  padding-left: 25px;
  font-size: 18px;
}

// part article
.about .article__active {
  padding-top: 65px;
}
.about {
  .article_left {
    max-width: 657px;
    width: 100%;
  }
  .article_right {
    max-width: 492px;
    width: 100%;
    .article__active {
      padding-top: 115px;
    }
  }
}

.about .article__title {
  font-weight: 300;
  font-size: 54px;
  color: #b6211e;
}

.about .article__active nav {
  font-size: 18px;
  line-height: 30px;
  padding-top: 29px;
}
.about li {
  list-style-image: url("../img/list.png");
}

.galery {
  background: url("../img/2-layers-1.png") center no-repeat;
}
.galery {
  .article__text {
    color: #fff;
  }
  .article__active {
    padding-top: 55px;
  }
}

.room_doors {
  .article__header {
    color: #3a4248;
  }
  .article__active {
    position: relative;
    padding-top: 68px;
    min-height: 545px;
  }
  .article__tab {
    display: flex;
    width: 100%;
    li {
      flex: 33%;
      color: #b6211e;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
      list-style-type: none;
    }
    label {
      padding: 19px 25px 19px;
    }
  }
  .tab__slider {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: 64px auto;
  }
  input[type="radio"] {
    position: absolute;
    left: -10000px;
  }
  
  input:checked + .tab__slider {
    z-index: 2;
  }
}

.popular {
  background-color: #f4f5f7;
  &.article {
    padding: 65px 0 90px 0;
  }
  .article__active {
    padding-top: 50px;
  }
}

.about,
.sert {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.popular,
.metal-doors {
  .slider__item {
    width: 190px;
    height: 375px;
  }
  .article__active {
    display: flex;
    justify-content: space-between;
  }
}
.metal-doors {
  .article__active {
    flex-direction: column;
    .active__item {
      display: flex;
      justify-content: space-between;
    }
  }
  .slider__item {
    height: 385px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
}




.sert {
  .article__text,
  .article__active {
    flex: 50%;
  }
}

.sert .article__active {
  display: flex;
  justify-content: space-between;
}


//slick
.galery {
  .slick-slide {
    margin: 0 13px 0 0;
  }
  .slick-dots {
    bottom: -65px;
    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #d3bc93;
    }
  }
  li.slick-active {
    background-color: #b6211e;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 97px;
  }
}

.slick-arrow {
  height: 100%;
  background: url(../img/arrow.png) center no-repeat;
}
.slick-arrow:hover {
  background: url(../img/arrow-hover.png) center no-repeat;
}
.slick-next {
  transform: translate(0, -50%) rotate(180deg);
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

// media

@media (max-width: 500px) {
  main .content {
    flex-direction: column;
  }
}
